#body {
    background-color: lightpink;
    display: flex;
    flex-direction: column;
}

.main-title {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 38px;
    color: gray;
}

.yes-btn {
    cursor: pointer;
    position: absolute;
    top: 550px;
    left: 35%;
    height: 50px;
    width: 85px;
    border-radius: 25px;
}

.yes-btn:hover {
    background-color: lightgreen;
}

.no-btn {
    position: absolute;
    top: 550px;
    right: 35%;
    height: 50px;
    width: 85px;
    border-radius: 25px;
}

.gif-embed {
    border: none;
    height: 380px;
    width: 380px;
    align-self: center;
}